@import '../../App.scss';

.page {
    width: 100vw;
    height: 100vh;
    position: absolute;
}
@media (min-width: 768px) {
    .page {
        left: 10vw;
    }
}

.top-tags {
    bottom: auto;
    top: 30px;
}
.tags {
    color: $yellow;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 18px;
}

.container {
    width: 100vw;
    will-change: contents;
    height: 100vh;
    min-height: 566px;
    // position: absolute;
    opacity: 0.5;
    top: 0%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
}

.svg {
    position: fixed;
    top: 3em;
    left: 15vw;
    width: 50vw;

    .mask {
        width: 0;
    }
}


.parent {
    display: flex;
    flex-direction: column;
}