@import '../../App.scss';

.nav-daddy {
  position: fixed;
  left: 0;
  z-index: 99;
}

@media (max-width: 767px) {
    .nav-daddy {
        background-color: $background-color;
        border-bottom: 3px solid $primary-color;
        width: 90vw;
        height: 100px;
        // position: absolute;
        top: 0;
        overflow-y: none;
        padding: 5px 20px;
    }
    .nav-bar {
        width: 100%;
        padding: 0;
        display: flex;
    }
    .link-tree {
        width: 50%;
        padding: 0px auto;
        margin-left: -80px
    }
    .link-tree li {
        display: inline-block;
    }
    .link-tree li:first-child {
        padding-right: 10px;
    }
    .logo {
      position: absolute;
      bottom: 5vh;
      left: 93vw;
      z-index: 999;
    }
    .logo img {
        margin: 0px auto;
        width: 30%;
    }

    .social {
        position: absolute;
        display: block;
        top: 15px;
        right: 10px;
        list-style-type: none;
        margin: auto;
    }
    
    .social li {
        font-size: 30px;
        display: block;
    }
    .social li:first-child {
        padding-right: 5px;
    }
}
@media (min-width: 768px) {
    .nav-daddy {
        background-color: $background-color;
        border-bottom: none;
        border-right: 3px solid $primary-color;
        width: 11vw;
        min-width: 150px;
        height: 100vh;
        // position: relative;
        top: 0;
        overflow-y: none;
        padding: 30px 5px;
    }
    .nav-bar {
        display: block;
    }

    .logo {
      width: 30%;
      position: absolute;
      bottom: 5vh;
      left: 93vw;
      z-index: 999;
      padding: 8px 0;
  }
  
  .logo:hover img {
      box-sizing: border-box;
      transition: ease-in .07s;
      border: 2px solid $primary-color;
      margin-bottom: 7.75px
  }
    .logo img {
        display: block;
        margin: 4px auto;
        width: 100%;
    }
    .link-tree {
      margin-top: 60px;
    }
    .nav-link {
        padding: 10px 0;
        max-width: 100%;
    }
    .social {
        position: absolute;
        display: block;
        bottom:80px;
        right: 30%;
        padding: 0;
        list-style-type: none;
        margin: auto;
    }
    
    .social li {
        font-size: 30px;
        display: inline-block;
    }
    .social li:first-child {
        padding-right: 5px;
    }
}

.link-tree {
    list-style-type: none;
    padding-left: 0;
}
.link-tree li {
  border: 2px solid #000;
  margin: -2px 10px;

  .nav-link {
    padding: 0;
  }
  p {
    border-left: 2px solid #000;
    padding: 5px;
  }
}


.nav-link {
  width: 100%;
    display: inline-flex;
    font-family: $header-font;
    color: $primary-color;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-icon {
  width: 20px;
  height: 20px;
  margin: auto;
  padding: 2px;
  display: block;
}

.nav-link.about:hover, .nav-link.about.active {
    transition: ease-in-out .15s;
    background-color: $green;
}
.nav-link.cases:hover, .nav-link.cases.active {
    transition: ease-in-out .15s;
    background-color: $orange;
}
.nav-link.friends:hover, .nav-link.friends.active {
    transition: ease-in-out .15s;
    background-color: $blue;
}

.nav-link p {
    margin: 0;
    width: 102px;
    padding-left: 8px !important;
}

.nav-link.cases {
    padding-left: 2.5px;
}

.nav-link.cases p {
    padding-left: 2.5px
}

.nav-link.friends {
    padding-left: 1.5px;
}

.nav-link.friends p {
    padding-left: 1.5px
}


.social li a {
    animation: change-color 10s ease infinite;
}
.social li:first-child a {
  animation-direction: reverse;
}

.social li:first-child a:hover {
    color: $pink;
}
.social li:last-child a:hover {
    color: $yellow;
}

@keyframes change-color {
  0% {
    color: $pink
  }
  20% {
    color: $yellow
  }
  40% {
    color: $orange
  }
  60% {
    color: $blue
  }
  80% {
    color: $green
  }
  100% {
    color: $yellow
  }

}

//start spincube logo
.stage-cube-cont {
    width: 100%;
    height: 100%;
    top: 5%;
    padding-top: 18%;
    margin: auto;

  }
  
  .cube-spinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin : 2.5vw 2.5vw 0;
    margin-left: calc(50% - 2.5vw);
    height: 5vw;
    width: 5vw;
  
    div {
      position: absolute;
      width: 5vw;
      height: 5vw;
      // background: rgba(255,255,255,0.4);
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid $primary-color;
      // box-shadow: 0 0 5px 0px $pink;
    }
  
    .face1 {
      transform: translateZ(2.5vw)
    }
    .face2 {
      transform: rotateY(90deg) translateZ(2.5vw)
    }
    .face3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(2.5vw)
    }
    .face4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(2.5vw)
    }
    .face5 {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(2.5vw)
    }
    .face6 {
      transform: rotateX(-90deg) translateZ(2.5vw)
    }
  }
  
  @keyframes spincube {
    from,
    to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      transform: rotateY(-90deg)
    }
    33% {
      transform: rotateY(-90deg) rotateZ(90deg)
    }
    50% {
      transform: rotateY(-180deg) rotateZ(90deg)
    }
    66% {
      transform: rotateY(-270deg) rotateZ(90deg)
    }
    83% {
      transform: rotateX(-90deg) rotateZ(90deg)
    }
  }
  .face img {
    height: 85%;
    width: 85%;
  }
  .face1 {
    background-color: $green
  }
  .face2 {
    background-color: $orange
  }
  .face3 {
    background-color: $pink
  }
  .face4 {
    background-color: $blue
  }
  .face5 {
    background-color: $yellow
  }
  .face6 {
    background-color: $white
  }
  // .face1 img {
  //   background-color: $white;
  // }
  // .face3 img {
  //   background-color: $white;
  // }
  // .face4 img {
  //   background-color: $white;
  // }
  .face5 img {
    rotate: -180deg;
  }
  .face6 img {
    // background-color: $white;
    rotate: -90deg;
  }
//end spincube logo