@import '../../App.scss';



@media (max-width: 767px) {
    .nav-daddy {
        background-color: $background-color;
        border-bottom: 1px solid $primary-color;
        width: 90vw;
        height: 100px;
        position: absolute;
        top: 0;
        z-index: 99;
        overflow-y: none;
        padding: 5px 20px;
    }
    .nav-bar {
        width: 100%;
        padding: 0;
        display: flex;
    }
    .link-tree {
        width: 50%;
        padding: 0px auto;
        margin-left: -80px
    }
    .link-tree li {
        display: inline-block;
    }
    .link-tree li:first-child {
        padding-right: 10px;
    }
    .logo img {
        margin: 0px auto;
        width: 50%;
    }

    .social {
        position: absolute;
        display: block;
        top: 15px;
        right: 10px;
        list-style-type: none;
        margin: auto;
    }
    
    .social li {
        font-size: 30px;
        display: block;
    }
    .social li:first-child {
        padding-right: 5px;
    }
}
@media (min-width: 768px) {
    .nav-daddy {
        background-color: $background-color;
        border-bottom: none;
        border-right: 1px solid $primary-color;
        width: 8vw;
        height: 100vh;
        position: relative;
        top: 0;
        z-index: 99;
        overflow-y: none;
        padding: 30px 20px;
    }
    .nav-bar {
        display: block;
    }
    .logo img {
        display: block;
        margin: 8px auto;
        width: 100%;
    }
    .nav-link {
        padding: 10px 0;
    }
    .social {
        position: absolute;
        display: block;
        bottom:80px;
        list-style-type: none;
        margin: auto;
    }
    
    .social li {
        font-size: 30px;
        display: inline-block;
    }
    .social li:first-child {
        padding-right: 5px;
    }
}
.link-tree {
    list-style-type: none;
    padding-left: 0;
}

.logo {
    display: block;
    padding: 8px 0;
}

.logo:hover img {
    box-sizing: border-box;
    transition: ease-in .07s;
    border: 2px solid $primary-color;
    margin-bottom: 7.75px
}

.nav-link {
    display: inline-flex;
    font-family: $header-font;
    color: $primary-color;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-link.about:hover, .nav-link.about.active {
    transition: ease-in-out .15s;
    color: $green;
}
.nav-link.cases:hover, .nav-link.cases.active {
    transition: ease-in-out .15s;
    color: $orange;
}
.nav-link.friends:hover, .nav-link.friends.active {
    transition: ease-in-out .15s;
    color: $blue;
}

.nav-link p {
    margin: 0 0 0 10px;
}

.nav-link.cases {
    padding-left: 2.5px;
}

.nav-link.cases p {
    padding-left: 2.5px
}

.nav-link.friends {
    padding-left: 1.5px;
}

.nav-link.friends p {
    padding-left: 1.5px
}

.social li a {
    color: $primary-color
}
.social li:first-child a:hover {
    color: $pink;
}
.social li:last-child a:hover {
    color: $yellow;
}

