@import '../../App.scss';

.nav {
  position: fixed;
  width: 100;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 99;
}

// .nav-col {
//   width: 20%
// }

.nav-col:last-child {
  // width: 10%;
  align-items: flex-end;
}
@media (max-width: 768px) {
 
  .nav {
    border: 5px solid black;
  }
  .nav-col a img {
    max-width: 81vw;
    margin: -2px -2px -8px -2px;
  }
  .nav-col:first-child {
    width: 50%;
  }
  
   .nav-col .icon {
    display: none;
    height: 40px;
    width: 40px;
   }
   .nav-col .icon:nth-child(3n) {
    display: block;
    margin-right: 15px;
    margin-top: 15px;
   }

  }
@media (min-width: 768px) {
  .nav {
    padding: 24px 28px;
  }
  .nav-col a img {
    max-width: 300px;
    margin: 0;
  }
  .nav-col:first-child {
    width: 50%;
  }
  
   .nav-col .icon {

    height: 30px;
    width: 30px;
   }
   
}

// @media (min-width: 850px) and (max-width: 1200px ) {
  
// }


@keyframes toorange{
  0% {
    fill: #fff
  }
  100% {
    fill: #e65925;
  }
}
@keyframes topink{
  0% {
    fill: #e65925
  }
  100% {
    fill: #edaac6;
  }
}
@keyframes toyellow{
  0% {
    fill: #edaac6;
  }
  100% {
    fill: #ffd800
  }
}
@keyframes toblack{
  0% {
    fill: #ffd800;
  }
  100% {
    fill: #000
  }
}



//start spincube logo
.stage-cube-cont {
    width: 100%;
    height: 100%;
    top: 5%;
    padding-top: 18%;
    margin: auto;

  }
  
  .cube-spinner {
    animation-name: spincube;
    animation-play-state: paused;
  animation-delay: calc(var(--scroll) * 0.5s);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin : 2.5vw 2.5vw 0;
    margin-left: calc(50% - 2.5vw);
    height: 5vw;
    width: 5vw;
  
    div {
      position: absolute;
      width: 5vw;
      height: 5vw;
      // background: rgba(255,255,255,0.4);
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid $primary-color;
      // box-shadow: 0 0 5px 0px $pink;
    }
  
    .face1 {
      transform: translateZ(2.5vw)
    }
    .face2 {
      transform: rotateY(90deg) translateZ(2.5vw)
    }
    .face3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(2.5vw)
    }
    .face4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(2.5vw)
    }
    .face5 {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(2.5vw)
    }
    .face6 {
      transform: rotateX(-90deg) translateZ(2.5vw)
    }
  }
  
  @keyframes spincube {
    from,
    to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      transform: rotateY(-90deg)
    }
    33% {
      transform: rotateY(-90deg) rotateZ(90deg)
    }
    50% {
      transform: rotateY(-180deg) rotateZ(90deg)
    }
    66% {
      transform: rotateY(-270deg) rotateZ(90deg)
    }
    83% {
      transform: rotateX(-90deg) rotateZ(90deg)
    }
  }
  .face img {
    height: 85%;
    width: 85%;
  }
  .face1 {
    background-color: $green
  }
  .face2 {
    background-color: $orange
  }
  .face3 {
    background-color: $pink
  }
  .face4 {
    background-color: $blue
  }
  .face5 {
    background-color: $yellow
  }
  .face6 {
    background-color: $white
  }
  // .face1 img {
  //   background-color: $white;
  // }
  // .face3 img {
  //   background-color: $white;
  // }
  // .face4 img {
  //   background-color: $white;
  // }
  .face5 img {
    rotate: -180deg;
  }
  .face6 img {
    // background-color: $white;
    rotate: -90deg;
  }
//end spincube logo